.env
node_modules
.tmp
*.iml
out
gen
.node_history
static/bower_components/*
# IntelliJ project files
.idea
# ACEKurento-js extras
ACEKurento-js/.idea
ACEKurento-js/coverage
ACEKurento-js/node_modules
*.swp
.DS_Store
yarn.lock

# config files
confs/kurento/WebRtcEndpoint.conf.ini
src/config/db.js
src/config/development.json

